@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

.image{
	width:140px;
	height: auto;
	align: left;
}
	
	.ht{
		font-size: 12px;
		font-weight: normal;
		margin-top: 15px;
		margin-bottom: auto;
	}
	.ft{
		font-size: 10px;
	}

.at{
	color:whitesmoke;
}

a{
	text-decoration: none;
	color:black;
}

a:hover{
	color:slategrey;
}

a:active{
	text-decoration: none;
}
	
	body{
		background-color: whitesmoke;
		font-family:'Courier New', '微軟正黑體';
	}

	header {
		width:100%;
		height:auto;
		padding:20px;
		font-weight: bold;
		text-align: center;
		font-size: 20px;

	}
	
	nav {
		float: left;
		width:15%;
		height: auto;
		padding:0px;
		text-align: left;
		font-size:16px;
		line-height: 30px;
	}
	
	section {
		width:100%;
		height:auto;
	}
	
	article{
		float:left;
		width:40%;
		height: auto;
		padding:20px;
		text-align: left;
		font-size:16px;
			
	}
	

	
	footer{
		float: left;
		width:100%;
		padding:10px;
		text-align: center;
	
	}
	
	aside{
		float: left;
		width:15%;
		height: auto;
	}

table{
	font-weight: bold;
	font-size: 16px;
}

@media (max-width: 800px) {
	nav, article,aside {
    width: 100%;
    height: auto;
  }
}